.section-projet {
	/* border: 1px solid orange; */
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.projet-container {
	display: flex;
	align-items: center;
}

.projet-seek {
	background-color: rgb(96, 85, 85);
	flex: 0 0 6em;
	justify-content: center;
}

.projet-seek:hover {
	background-color: rgb(136, 119, 119);
	cursor: pointer;
}

.projet-list {
	display: flex;
	align-items: center;
	overflow: scroll;
	margin-top: 10em;
	padding-bottom: 3em;
	height: 30em;
}

.projet {
	background-color: black;
	/* position: absolute; */
	flex: 0 0 20em;
	margin: 0.5em;
	height: 20em;
	padding: 0 38px;
	padding: 15px;
	transition: margin 0.5s;
}

.projet:hover {
	box-shadow: gray 1px 1px 13px;
	/* margin-right: 3em;
	margin-left: 3em;
	margin-bottom: 3em; */
	transition: 0.5s;
}

.projet h1 {
	font-size: 2em;
}

.projet img {
	width: 36%;
	margin-right: 50%;
}